<div class="container mx-auto px-4 md:px-12 lg:px-24 xl:px-48 text-center">
  <h1 class="px-4 pb-12 lg:pb-12 text-xl md:text-2xl xl:text-3xl">{{mainText}}</h1>
</div>
<div class="grid grid-cols-4 gap-8">
  <div class="col-span-2 mx-auto">
    <!-- <button class="block bg-brand-green text-gray-200 w-32  sm:w-56 md:w-32 lg:w-40 xl:w-48 py-2 m-0">Book online</button> -->
    <a href="{{{button1Url}}}"><button class="block bg-brand-green text-gray-200 w-32  sm:w-56 md:w-32 lg:w-40 xl:w-48 py-2 m-0">{{button1Text}}</button></a>
  </div>

  <div class="col-span-2 mx-auto">
    <!-- <button class="block bg-brand-green text-gray-200 w-32 sm:w-56 md:w-32 lg:w-40 xl:w-48 py-2 m-0">01643 831164</button> -->
    <a href="{{{button2Url}}}"><button class="block bg-brand-green text-gray-200 w-32  sm:w-56 md:w-32 lg:w-40 xl:w-48 py-2 m-0">{{button2Text}}</button></a>
  </div>
</div>

<!-- <include src="./partials/enquiry-form.html" locals='{}'></include> -->
