<div class="container mx-auto px-4 md:px-12 lg:px-24 xl:px-48 text-center">
  
    <h1 class="text-4xl">Cascade cottage</h1>


  <p class="m-auto mt-8 text-center md:w-4/5 xl:w-2/3">Within the grounds of Edgcott House, "Cascade Cottage" is a charming self-catering cottage which sleeps up to 6 people. With the stream, Edgcott Water, flowing past the front door it is a tranquil place to relax and rejuvenate.</p>
  <div class="mx-auto mt-12 w-full sm:w-3/4 md:w-1/2 lg:w-2/3 text-center text">
    <button class="bg-brand-green text-gray-100  px-5 py-2">Find out more about Cascade Cottage</button>
  </div>

  <div class="mt-12 grid grid-cols-1 sm:grid-cols-2 gap-4">

    <img class="w-full object-cover object-center" src="images/cc-cascade-cottage-holiday-home-exmoor.jpg" alt="">
    <img class="w-full object-cover object-center" src="images/cc-holiday-cottage-bedroom-exmoor.jpg" alt="">
    <img class="w-full object-cover object-center" src="images/cc-living-room-at-holiday-cottage.jpg" alt="">
    <img class="w-full object-cover object-center" src="images/cc-welcome-pack-holiday-rental.jpg" alt="">
  </div>

</div>