
  <div class="pb-10">

    <div class="mx-auto w-full py-10 sm:w-3/4 md:w-1/2 lg:w-2/3 text-center text text-4xl">
      <h1>Cascade cottage</h1>
    </div>
    <p class="m-auto text-center md:w-4/5 xl:w-2/3 pb-5">Within the grounds of Edgcott House, "Cascade Cottage" is a charming self-catering cottage which sleeps up to 6 people. With the stream, Edgcott Water, flowing past the front door it is a
      tranquil place to relax and rejuvenate.</p>
    <div class="mx-auto w-full pb-10  pt-5 sm:w-3/4 md:w-1/2 lg:w-2/3 text-center text">
      <button class="bg-brand-green text-gray-200  px-5 py-2 mb-4 mt-4">Find out more about Cascade Cottage</button>
    </div>

    
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    
      <img class="w-full object-cover object-center" src="images/cc-cascade-cottage-holiday-home-exmoor.jpg" alt="">
      <img class="w-full object-cover object-center" src="images/cc-holiday-cottage-bedroom-exmoor.jpg" alt="">
      <img class="w-full object-cover object-center" src="images/cc-living-room-at-holiday-cottage.jpg" alt="">
      <img class="w-full object-cover object-center" src="images/cc-welcome-pack-holiday-rental.jpg" alt="">
    </div>

  </div>
