<div class="grid grid-cols-12 gap-0">
    <div class="relative col-span-12 lg:col-span-8 h-64 md:h-96 {{align === 'imageRight' ? 'lg:order-last' : '' }}">
      <img class="absolute h-full w-full object-cover object-center" src="{{image}}">

      <div class="absolute h-full w-full flex">
        <div class="m-auto bg-white bg-opacity-75 px-6 shadow-lg text-center">
          <h1 class="text-2xl md:text-3xl xl:text-4xl">{{titleOverImage}}</h1>
        </div>
      </div>
    </div>
    <div class="col-span-12 lg:col-span-4 text-center m-auto px-4 sm:px-16 lg:px-12 pt-8">
      <h2 class="text-2xl md:text-3xl xl:text-4xl">{{heading}}</h2>
      <p class="">{{{mainText}}}</p>
      <a href="{{buttonLink}}"><button class="bg-brand-green hover:bg-brand-darkgreen text-gray-200 px-8 py-2  mb-4 mt-4">{{buttonText}}</button></a>
    </div>
</div>