

<div class="container mx-auto px-4">
	<div class="grid grid-cols-4 sm:gap-6 items-center md:grid-flow-col">
	  <div class="col-span-4 md:col-span-2 md:text-left text-center text order-last md:order-first ">
	    <h1 class="text-4xl pt-6 pb-6 sm:pt-2 md:py-8 max-w-md mx-auto md:mx-0 ">{{heading}}</h1>
	  </div>
		<div class="col-span-2 md:col-span-1 mx-auto">
			<a href="{{{button1Url}}}"><button class="block bg-brand-green text-gray-200 w-32  sm:w-56 md:w-32 lg:w-40 xl:w-48 py-2 m-0">{{button1Text}}</button></a>
		</div>
	
	  <div class="col-span-2 md:col-span-1 mx-auto">
		<a href="{{{button2Url}}}"><button class="block bg-brand-green text-gray-200 w-32  sm:w-56 md:w-32 lg:w-40 xl:w-48 py-2 m-0">{{button2Text}}</button></a>
	  </div>
	</div>

	<div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-8 lg:gap-12 xl:gap-16">
	  <div class="sm:col-span-1">
	    <p>{{{mainText1}}}</p>
	  </div>
	  <div class="py-8 sm:pt-0 sm:col-span-1">
	    <p>{{{mainText2}}}</p>
	  </div>
	</div>
</div>